/bin.dbg/
/cmake-build-debug/
/.idea/
/cmake-build-release/.ninja_deps
/cmake-build-release/.ninja_log
/cmake-build-release/build.ninja
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/reply/cache-v2-598057aae6658b8f5b52.json
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/lib/cmake_install.cmake
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-release/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-release/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-release/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-release/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-74a4005cfb6bad70b082.json
/cmake-build-release/CMakeFiles/CMakeOutput.log
/cmake-build-release/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/cmake-build-release/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-2d8ec808d2f558c08e70.json
/cmake-build-release/lib/CTestTestfile.cmake
/cmake-build-release/CTestTestfile.cmake
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
/cmake-build-release/.cmake/api/v1/reply/directory-lib-Release-e9069484d90298468a11.json
/cmake-build-release/CMakeFiles/ShowIncludes/foo.h
/cmake-build-release/.cmake/api/v1/reply/index-2022-06-22T14-28-29-0509.json
/cmake-build-release/Testing/Temporary/LastTest.log
/cmake-build-release/lib/CMakeFiles/main_lib.dir/lib_test.cpp.obj
/cmake-build-release/CMakeFiles/ShowIncludes/main.c
/cmake-build-release/CMakeFiles/path_helper.dir/main.cpp.obj
/cmake-build-release/CMakeFiles/ShowIncludes/main.obj
/cmake-build-release/lib/main_lib.lib
/cmake-build-release/path_helper.exe
/cmake-build-release/path_helper.exe.manifest
/cmake-build-release/CMakeFiles/rules.ninja
/cmake-build-release/.cmake/api/v1/reply/target-main_lib-Release-41c29ea901d3995ee44d.json
/cmake-build-release/.cmake/api/v1/reply/target-path_helper-Release-e5afd606341b9f59cf9a.json
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-f5a474c246fcab059fdb.json
